.thumbnail {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
}

.post-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.username {
  display: flex;
  font-size: 15px;
  margin-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 640px;
  margin-left: 250px;
  margin-top: 20px;
}

.likes {
  text-align: left;
}
